<!-- wp:template-part {"slug":"header-has-nav-centered","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:group {"align":"full","layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group alignfull">
        <!-- wp:group {"className":"wp-block-inner-page-title","align":"full","layout":{"inherit":true,"type":"constrained"}} -->
        <div class="wp-block-group wp-block-inner-page-title alignfull">
            <!-- wp:group {"className":"alignwide"} -->
            <div class="wp-block-group alignwide">

                <!-- wp:heading {"textAlign":"left","className":"wp-block-post-title"} -->
                <h2 class="has-text-align-left wp-block-post-title">The Shop</h2>
                <!-- /wp:heading -->
            </div>
            <!-- /wp:group -->
            <!-- wp:woocommerce/store-notices /-->

            <!-- wp:group {"className":"alignwide","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
            <div class="wp-block-group alignwide"><!-- wp:woocommerce/product-results-count {"fontSize":"extra-small"} /-->

                <!-- wp:woocommerce/catalog-sorting {"fontSize":"extra-small"} /-->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"align":"wide","layout":{"type":"default"} -->
        <div class="wp-block-group alignwide">
            <!-- wp:template-part {"slug":"all-products-col-4","theme":"bizboost","tagName":"div"} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->



<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->


